# Discord Rich Presence - create app at https://discord.com/developers/applications
DISCORD_CLIENT_ID= 1483002076308045895

# Frontend URL - dev: http://localhost:5173, packaged: https://uira.live
FRONTEND_URL=https://mv.uira.live

